$font-bebas-neue: 'Bebas Neue', sans-serif;
$font-pt-sans: 'PT Sans', sans-serif;

$white: #FFFFFF;
$black: #000000;
$gray-dark: #42567A;
$gray-light: #F4F5F9;
$blue-dark: #5D5FEF;
$blue-light: #3877EE;   
$pink: #EF5DA8;

$gradient-main: linear-gradient(180deg, #3877EE -5%, #EF5DA8 85%);

$shadow-color: #3877EE1A;
$shadow-md: 0px 0px 15px 0px $shadow-color;

$spacing-unit: 4px;
